// -----------------------------------------------------------------------------
// This file contains custom grid styles.
// It uses old styles method of styling pages
// -----------------------------------------------------------------------------

@mixin colBase {
}

///  Grid Right Margins
///  Media Querries ready
///  @author: Mark Njoroge
//

$grid-column-gap-xlg: 8rem;
$grid-column-gap-lg: 6rem;
$grid-column-gap-md: 4rem;
$grid-column-gap-sm: 2rem;
$grid-column-gap-xs: 21rem;

///  Main Grid Max-width Variable
///  @author: Mark Njoroge
$grid-width-lg: 114rem;

.container {
  &-fw {
    max-width: 100%;
  }

  &-boxed {
    max-width: $grid-width-lg;
    margin: 0 auto;
  }
}

.row {
  display: block;
  max-width: 100%;

  margin-bottom: 4rem;
  @include clearfix;

  [class^="col-"] {
    float: left;
    max-width: 100%;
    &:not(:last-of-type) {
      margin-right: $grid-column-gap-lg;
    }
    //remove
    padding: 2rem;
    background-color: orangered;
    color: #fff;
    font-size: 3rem;
  }
}

.col {
  &-fw {
    width: 100%;
  }

  &-1-of-2 {
    width: calc((100% - #{$grid-column-gap-lg}) / 2);
  }

  &-1-of-4 {
    width: calc((100% - (#{$grid-column-gap-lg} * 3)) / 4);
  }

  &-3-of-4 {
    width: calc(
      (
        (((100% - (#{$grid-column-gap-lg} * 3)) / 4) * 3) +
          (#{$grid-column-gap-lg} * 2)
      )
    );
  }

  &-1-of-3 {
    width: calc((100% - (#{$grid-column-gap-lg} * 2)) / 3);
  }

  &-2-of-3 {
    width: calc(
      ((100% - (#{$grid-column-gap-lg} * 2)) / 3) * 2 + #{$grid-column-gap-lg}
    );
  }
}
