// -----------------------------------------------------------------------------
// This file is used to style card components in the features section
// The card contains an SVG font/font
// -----------------------------------------------------------------------------

.card {
  background-color: rgba($light-grey-1, 0.8);
  border-radius: 0.4rem;
  box-shadow: 0 2rem 4rem rgba(#000, 0.2);
  text-align: center;
  transition: all 0.2s ease-out;

  &__img {
    display: inline-block;
    font-size: 6.4rem;
    color: transparent;
    background-image: linear-gradient(
      to bottom right,
      $brand-color-light,
      $brand-color-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  /* &__title {
  }
 */
  &__text {
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0 2rem 6rem rgba(#000, 0.4);
  }
}
