// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@use 'sass:map';

/// Styling the about section
.section-about {
  background-color: $light-grey-1;
  margin-top: -35vh;
  padding: 30vh 2.4rem 25rem;
}

//. Styling features section
.section-features {
  padding: map-get($size, x-largest) map-get($size, normal);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../assets/images/nat-4.jpg);
  background-size: cover;
  background-position: top center;
  transform: skewY(-5.5deg);
  margin-top: -7.5rem;
  text-align: center;

  & > * {
    transform: skewY(5.5deg);
  }
}

/// Stylign the tours section
.section-tours {
  padding: map-get($size, xx-largest) map-get($size, normal)
    map-get($size, x-largest);
  background-color: $light-grey-1;
  margin-top: -8rem;
}

/// Styling story section
.section-story {
  padding: map-get($size, x-largest) map-get($size, normal);
  position: relative;
}

/// Style section booking
.section-book {
  padding: map-get($size, x-largest) map-get($size, normal);
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

/// Book section content
.book {
  background-image: linear-gradient(
      105deg,
      $light-grey-1 0%,
      rgba($light-grey-1, 0.95) 55%,
      transparent 55%,
      transparent 100%
    ),
    url(../assets/images/nat-10.jpg);
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  border-radius: map.get($size, x-smallest);
  box-shadow: map.get($shadow, medium);

  &__content {
    width: 50%;
    padding: map-get($size, x-medium);
  }
}
