// -----------------------------------------------------------------------------
// This file contains sitewide animations.
// -----------------------------------------------------------------------------
@keyframes bounceLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes bounceRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  80% {
    transform: translateX(-4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes bounceFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  80% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
