// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use 'sass:map';

.footer {
  background-color: $dark-grey-1;
  color: $light-grey-1;
  font-size: 1.4rem;
  font-weight: 300;
  padding: map.get($size, large) 0;
}
