// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use 'sass:map';

.footer {
  background-color: $dark-grey-1;
  color: $light-grey-1;
  font-size: 1.4rem;
  font-weight: 300;
  padding: map.get($size, large) 0;

  /// Footer logo box styles
  &__logo-box {
    margin-bottom: map.get($size, x-medium);
  }

  &__logo {
    display: block;
    margin: 0 auto;
    height: map.get($size, largest);
  }
}
