/**
 * None Tailwind CSS 
 */

.grid-container {
  max-width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
  grid-auto-flow: column dense;
  grid-auto-columns: 1fr;

  .item {
    background-color: orangered;
    padding: 8px 20px;
    color: #fffbf9;
    font-size: 18px;
    font-family: sans-serif;
  }
}
