// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.hero {
  height: calc(80vh - 3rem);
  background-image: linear-gradient(
      to bottom right,
      rgba($brand-color-light, 0.8),
      rgba($brand-color-dark, 0.8)
    ),
    url(../assets/images/hero.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 75%, 0 100%);

  position: relative;

  &__content {
    @include centerBox;
    margin-top: -6rem;
    color: $light-grey-2;
    text-align: center;
  }
}

.logo {
  width: 8rem;
  height: auto;
  display: inline-block;
}
