////////////////////////////////////////
/// Footer Section

.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;

  padding: 4rem 1.6rem;
  color: $color-grey-light-2;

  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 4rem;
  align-items: baseline;

  // &__nav {
  //   //margin: 0 auto;
  // }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
  }
  &__list-item {
    list-style: none;
  }
  &__link:visited,
  &__link:link {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    color: $color-grey-light-2;
    font-family: $font-display;
    font-size: 1.2rem;
    letter-spacing: 1x;
    text-transform: uppercase;
    text-align: center;
    background-color: $color-secondary-dark-2;
    border-radius: 2px;
    transition: all 0.2s;

    &:hover,
    &:active {
      background-color: $color-secondary-dark-1;
      color: $color-grey-light-1;
      transform: translateY(-3px);
    }
  }
  &__copyright {
    font-size: 1.4rem;
    justify-self: center;
    color: currentColor;
  }
}
