////////////////////////////////////////
/// Story Section

.story {
  /**
  *  Picture section
  */
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / ced 4;
  }

  /**
  *  Content section
  */
  &__content {
    background-color: $color-grey-light-1;
    grid-column: cst 5 / full-end;

    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2rem;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
  }

  &__btn {
    align-self: flex-start;
  }
}
