/**
 * None Tailwind CSS 
 */
.container {
  width: 90vw;
  margin: 30px auto;
  color: rgb(245, 237, 237);
  font-size: 20px;
  & > * {
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  display: grid;
  grid-template-rows: 80px 200px 350px 80px;
  // grid-template-columns: repeat(3, 20%) 1fr;
  grid-template-areas:
    '. head head .'
    'box-1 box-2 box-3 side'
    'main main main side'
    'foot foot foot foot';

  gap: 30px;

  .header {
    // grid-column: 1 / -1;
    grid-area: head;
  }

  .box {
    // grid-row: 2 / 3;
    // grid-area: box-1;
  }

  .box-1 {
    grid-area: box-1;
  }
  .box-2 {
    grid-area: box-2;
  }
  .box-3 {
    grid-area: box-3;
  }
  .sidebar {
    // grid-row: 2 / 4;
    grid-area: side;
  }
  .main-content {
    // grid-column: 1 / 4;
    // grid-row: 3 /;
    grid-area: main;
  }
  .footer {
    // grid-column: 1 / -1;
    grid-area: foot;
  }
}
