/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-style: $text-font-stack;
}

/**
* Basic headings formating
*/
%h-template {
  text-transform: uppercase;
  line-height: 1;
}

.h1 {
  @extend %h-template;
  text-align: center;
  &--main,
  &--sub {
    display: block;
  }

  &--main {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
  }

  &--sub {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
  }
}

.h2 {
  @extend %h-template;
}

.h3 {
  @extend %h-template;
}

.h4 {
  @extend %h-template;
}
