/**
 * Basic typography style for copy text
 */
html {
  font-size: $font-base;
}

body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.7;
}
